html,
body {
  background-color: #1a1a1f;
  font-family: sans-serif;
  margin: 0;
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

#current-container-color {
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
}

#container-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 720px;
}

.container-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 32px;
}

.icon-container {
  display: flex;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 32px;
  border-radius: 100%;
  margin-bottom: 16px;
}

.icon {
  opacity: 0.2;
  transition: opacity 0.2s ease-in-out;
}

.container-button:hover .icon {
  opacity: 0.5;
}

.container-button:hover .name {
  opacity: 0.8;
}

.name {
  font-size: 0.9em;
  transition: opacity 0.2s ease-in-out;
}